#head{
    background-color: #F8F8FF 
}

#head>.head_logo{
    width: 162px;
    height: 44px;
    margin-top: 19px;
    background: #333
}

#head>.head_logo>a>img{

}

#head>.head_menu{
    font-size: 14px;
    line-height: 81px;
}

#head>.head_menu>li{
    float: left;
    margin-left: 58px;
}
